body {
    display:flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color:#1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    color: #F9FAF8;
    
}

.logo {
    font-size:24px;
    font-weight: bold;
}

ul {
    display:flex;
    gap: 16px;
}

li {
    list-style-type: none;
    font-size: 18px;
    
}

.Lead-container {
    display:flex;
}

.Lead {
    background-color:#1F2937;
    color: #F9FAF8;
    display:flex;
    flex-direction:column;
    
}