body {
    display:flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color:#1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding:10px 140px;
    
}

.logo {
    font-size:24px;
    font-weight: bold;
    
}

ul {
    display:flex;
    gap: 16px;
}

li {
    list-style-type: none;
    font-size: 18px;
    
}

.Lead-container {
    display:flex;
    background-color:#1F2937;
    gap: 50px;
    padding-top:60px;
    padding-bottom: 60px;
}

.Lead {
    background-color:#1F2937;
    color: #F9FAF8;
    display:flex;
    flex-direction:column;
    padding-left:140px;
    flex:1 1 0;
}

.Lead-image-container {
    display:flex;
    flex: 1 1 0;
    padding-right:140px;
    justify-content: center;
    align-items:center;
}

.Hero-main-text {
    font-size:48px;
    color:F9FAF8;
    font-weight:bold;
}

.Hero-text {
    font-size:18px;
    color:E5E7EB;
}

button {
    height:30px;
    width:100px;
    background-color: #3882F6;
    margin:10px;
    border-radius:4px;
    border:none;
    color:white;
    font-weight:bold;
    
}
